* {
  box-sizing: border-box;
}

svg {
  width: 100%;
  position: relative;
}

svg-container {
  width: 100%;
  position: relative;
  display: block;
  top: 1em;
}

#countryfactsheets-map {
  width: 100%;
  position: relative;
  display: block;
  top: inherit;
  overflow: hidden;
  border: 2px solid lightgray;
}


.country-stroke {
  fill: #efe7d4;
  stroke: black;
  stroke-width: 1;
}

.country-focus {
  fill: #41b664;
}

.country-focus-text-bg {
  fill: #333366;
  stroke: #333366;
  stroke-width: 2;
}
.country-focus-label {
  fill: white;
  stroke: none;
  text-anchor: middle;
  font: 600 8.4px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.maplet-outline {
  fill: none;
  stroke: #333366;
  stroke-width: 2;
}

.sphere {
  stroke: none;
  fill: rgb(48, 140, 168);
}

.country-flag {
  cursor: pointer;
}

.main-lines {
  fill: none;
  /* stroke: #79A09E; */
  stroke: #333366;
  stroke-width: 0.6;
  stroke-dasharray: 8,2;
}

.sub-lines {
  fill: none;
  /* stroke: #79A09E; */
  stroke: #666;
  stroke-width: 0.16;
  stroke-dasharray: 16,2;
}

.graticules {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

/***** MAES map related *****/

#countries-filter {
  position: absolute;
  top: 10px;
  right: 10px;
  height: auto;
  width: 180px;
  background-color: white;
  border: 2px solid #333366;;
  padding: 10px;
  font-size: 0.85rem;
}

#countries-filter span {
  font-weight: bold;
}

#countries-filter ul {
  padding-left: 2px;
  margin-bottom: 0;
}

#countries-filter ul li {
  list-style-type: none;
  padding: 4px 0
}

#countries-filter .color-box {
  width: 18px;
  height: 13px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 767px)  {
    #countries-filter {
      width: 154px;
      padding: 7px;
      font-size: 10px;
      right: auto;
      left: 10px;
  }

  #countries-filter ul li {
    padding: 2px 0
  }

  #countries-filter ul {
    margin-top: 0;
  }

}
