body {
  background: #fcfcfa;
}

.header-bg {
  /*z-index: 1;*/
  height: 384px;
  width: 100%;
  position: absolute;
  top: 92px;
}

.factsheets #site-body {
  padding-top: 345px;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  /* background-color: #eeeeee; */
  color: #e99279;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  /* float: left; */
  margin-bottom: -1px;
  display: inline-block;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.clearfix:before,
.clearfix:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-color: #2e6da4;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #080808 0%, #0f0f0f 100%);
  background-image: -o-linear-gradient(top, #080808 0%, #0f0f0f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
  background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  }
}




.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

/*here starts the custom css*/
.factsheets .login-wrapper {
  line-height: 1.6;
}

.factsheets .page {
  position: relative;
  z-index: 9;
}


.factsheets .page-body {
  padding-top: 0;
}

.factsheets .page-content {
  overflow: visible;
  padding-top: 0;
}

.factsheets .panel-heading {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 10;
  font-size: 1.5rem;
}

.factsheets .nav-tabs {
  background: #f7f4ed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 3px #aaa;
  margin: 0;
  border: none;
}

.factsheets .nav-tabs li.active:before {
  content: '';
  position: absolute;
  top: -4px;
  border-radius: 5px 5px 0 0;
  width: 100%;
  border-top: 8px solid #e99279;
}

.factsheets .nav-tabs a {
  border-radius: 0;
  margin: 0;
  border-bottom: none!important
}

.factsheets .tab-header,
.factsheets .tab-section {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.factsheets .tab-header:after,
.factsheets .tab-section:after {
  border-bottom: 2px solid #e5dfd1;
  content: '';
  position: absolute;
  bottom: 3px;
  width: calc(100% + 4.8rem);
  left: -2.4rem;
}

.factsheets .tab-section:last-of-type:after {
  display: none;
}

.factsheets .page-content {
  border-top: none;
}


.factsheets #portal-breadcrumbs {
  position: absolute;
  top: -333px;
  color: white;
  z-index: 2;
  text-shadow: 0px 0px 4px #000;
  font-weight: bold;

}

.factsheets #portal-breadcrumbs a {
  color: #ffc612;
}


.factsheets .tab-content h4,
.factsheets .tab-content h5{
  font-weight: 400;
}

.map-title {
  position: absolute;
  left: 0;
  top: -290px;
  z-index: 1;
  /* color: #444 !important; */
  /* color: #ef8152 !important; */
  color: white !important;
  font-weight: bold !important;
  text-shadow: 0px 0px 4px #000;
}

.factsheets h1 {
  /* color: white!important; */
  color: inherit;
  font-weight: inherit;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.tabs-listing {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media(min-width: 800px) {
  .factsheets .navbar-descriptor {
    min-height: 92px
  }
}

.custom-dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: .5rem;
  border: 1px solid rgba(255,255,255, .4);
  border-radius: 5px;
  text-align: center;
}

.custom-dropdown label::after {
  content: '▼';
}

/* .custom-dropdown select { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   border: 0; */
/*   margin: 0; */
/*   padding: 0; */
/*   width: 1rem; */
/*   height: 1rem; */
/*   background: transparent; */
/*   box-sizing: border-box; */
/*   opacity: 0; */
/* } */
/*  */
/* .custom-dropdown select::-ms-expand { */
/*     display: none;   /* hide default arrow in IE */
/* } */
/*  */
/* .custom-dropdown::before, .custom-dropdown::after { */
/*   content: ""; */
/*   position: absolute; */
/*   pointer-events: none; */
/* } */
/*  */
/* .custom-dropdown::after { */
/*   /*  Custom dropdown arrow */
/*   content: "\25BC"; */
/*   font-size: 1rem; */
/* } */
/*  */
/* .custom-dropdown::before { */
/*   /*  Custom dropdown arrow cover */
/*   width: 2em; */
/*   right: 0; */
/*   top: 0; */
/*   bottom: 0; */
/* } */
/*  */



.custom-dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: .5rem;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  text-align: center;
}
.custom-dropdown select {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  opacity: 0;
}

#targetFilter {
  display: none;
}

.aside {
  display: none;
}

@media (min-width: 800px) {
  .asidetrue {
    width: 100%;
    left: 0%;
  }
}

@media (max-width: 800px) {

  .template-countries-sections-v3 #site-body {
    padding-top: 440px !important;
  }

  .template-countries-sections-v3 #portal-breadcrumbs {
    display: none;
  }

  .factsheets .panel-heading {
    width: 100%;
  }

  .template-countries-sections-v3 #countryfactsheets-map {
    top: 90px !important;
  }

    .template-countries-sections-v3 .header-bg {
    top: -102px;
  }

  .page-container {
    width: 100%;
  }

  .factsheets .panel-heading {
    /* left: -8px !important; */
  }

  .arrow {
    display: block;
  }

  .page-content {
    padding: 0;
  }

  .factsheets .nav-tabs {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }

  .nav-tabs  li  a {
    padding: 15px;
  }

  .factsheets .nav-tabs li.active:before {
    top: 0px;
    border-radius: 0;
    border-top: 5px solid #e99279;
    z-index: 9;
}

  .custom-dropdown {
    right: 10px;
  }

  .factsheets .panel-body {
    padding-top: 32px;
  }

  .header-bg {
    top: 8px;
  }

  .asidetrigger {
    display: none;
  }
  .intro-wrapper {
    display: none;
  }
  .map-helper {
    right: 0 !important;
  }
}

.legendContainer {
  left: 770px !important;
}


/***** contributions sidebar *****/

.mtr-container .target1Bg,
.mtr-container .target2Bg,
.mtr-container .target3Bg,
.mtr-container .target4Bg,
.mtr-container .target5Bg,
.mtr-container .target6Bg {
  background-color: transparent;
}

.mtr-container .country-table {
  margin-bottom: 200px;
}

.mtr-container .country-table p {
  padding-left: 0!important;
  margin: 13px 0;
  text-align: justify !important;
}

.mtr-container .country-table ul {
  margin: 0;
}

.mtr-container .country-table > tbody > tr {
  display: block;
  padding-left: 0!important;
}

.mtr-container .country-table > tbody > tr >td:first-child + td {
    text-align: left !important;
  }

.mtr-container .country-table > tbody > tr > td {
  border-bottom: none;
  padding-left: 0!important;
}

.mtr-container .country-table > tbody > tr > td:first-child {
  display: inline;
}

.mtr-container .country-table h2 {
  color: #748284 !important;
  font-weight: bold;
  padding-left: 0 !important;
  text-align: left !important;
}

.mtr-container [data-tooltip] {
  display: inherit;
}

#mtr-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #efe9db;
}

#srow:before {
    border-top: 2px solid black;
}

#mtr-main-wrapper {
  height: 100%;
  word-break: break-word;
}

#srow {
  position: relative;
}

#sidebar-wrapper {
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #efe9db;
  padding-right: 0;
  padding-left: 0;
}

.mtr-container .i-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
}

.mtr-container .sidebar ul {
  margin: 2px 0;
  padding-left: 0;
}

.mtr-container .sidebar li a p:first-child {
  color: #1f8cc9;
  cursor: pointer;
}

.mtr-container .sidebar li ul li a p:first-child {
  padding-left: 25px;
  color: #1f8cc9;
  font-weight: bold;
}

.mtr-container .sidebar ul li a {
  display: block;
  padding: 3px 0;
}

.mtr-container .nav-header p:first-child {
  font-weight: bold;
}

.mtr-container .nav-header a,
.mtr-container .nav-header p {
  padding-left: 10px;
}


.mtr-container .nav-header:hover,
.mtr-container .nav-list li a:hover {
  background-color: #f7f4ed;
  border-left: 3px solid #36b76d !important;
  cursor: pointer;
}

.mtr-container ul,
.mtr-container li {
  list-style-type: none;
}

.mtr-container .selected {
  background-color: #f7f4ed;
  border-left: 3px solid #36b76d !important;
}

.mtr-container .sidebar li a {
  border-left: 3px solid transparent;
}

.mtr-container .sidebar p {
  position: relative;
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
  font-size: 0.9em;
  width: 90%;
  color: #748284;
}

.mtr-container .sidebar p:first-child {
  margin: 5px 0;
}

.mtr-container .sidebar li ul li p {
  padding-left: 25px;
}

.mtr-container .nav-stacked {
  padding-left: 20px;
}

.mobile-sidebar,
.mobile-only {
  display: none;
  cursor: pointer;
}

.close-sidebar {
  color: grey;
  padding: 15px;
  font-size: 1.3rem;
  width: 100%;
}

.close-sidebar i {
  float: right;
}

.mobile-sidebar {
  float: right;
  background-color: white;
  width: 100%;
  height: 45px;
  z-index: 99;
}

.mobile-content {
  float: right;
  margin-top: 8px;
  background-color: #36b76d;
  padding: 7px;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.mobile-sidebar i {
  font-size: 1rem;
  padding-left: 10px;
}

.edit-button {
  text-align: right;
  /* position: absolute; */
  /* top: 22px; */
}

.content-wrapper {
  margin-top: 35px;
}

@media (min-width: 992px) {
  #mtr-main-wrapper {
    float:right;
  }
  .mtr-container .country-table > tbody > tr > td {
    width: 100% !important;
  }
  .mtr-container .country-table > tbody > tr >td:first-child + td {
      padding: 0 10px !important;
      display: inline-block;
  }
}

@media (max-width: 992px) {
  #mtr-main-wrapper {
    padding:  30px 10px ;
    overflow-y: initial;
    word-break: break-word;
  }

  #sidebar-wrapper {
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 9999;
    width: 50%;
    border-right:0;
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.40);
    left: -50%;
    transition: .2s;
  }

  .toggle-sidebar{
    left: 0 !important;
  }

  .mobile-sidebar,
  .mobile-only {
    display: block;
  }

  dl.portalMessage {
    margin-top: 4em;
  }
}

/* countries sections mockup css */

.template-countries-sections-v2 {
  background-color: #F7F4ED;
}

.template-countries-sections-v2 .countries-list {
  margin: 0 !important;
}

.template-countries-sections-v2 .countries-list li {
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
  color: #308ca8;
  padding-top: 4px;
}

.template-countries-sections-v2 .countries-list li:hover,
.template-countries-sections-v3 .countries-list li:hover  {
  color: #41b664
}

.template-countries-sections-v2 .section-title,
.template-countries-sections-v3 .section-title {
  color: #ef8152 !important;
  display: inline-block;
  margin-top: 10px;
}

.template-countries-sections-v2 #site-body {
  padding-top: 125px;
}

.template-countries-sections-v2 .section-description,
.template-countries-sections-v3 .section-description {
  clear: both;
  margin-top: 20px;
  display: inline-block;
}

.template-countries-sections-v3 #site-body,
.template-countries-sections-v3 #site-body  {
  padding-top: 475px;
}

.template-countries-sections-v3 #portal-breadcrumbs,
.template-countries-sections-v3 #portal-breadcrumbs {
    top: -458px;
  }

.template-countries-sections-v3 #countryfactsheets-map {
  border: none;
  top: 30px;
}

.template-countries-sections-v3 .countries-list-wrapper {
  float: right;
  clear: right;
  display: block !important;
}

.template-countries-sections-v3 .countries-list {
  border-right: 1px solid #e5dfd1;
  padding-left: 0;
}

.template-countries-sections-v3 .countries-list {
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
  color: #308ca8;
}

.template-countries-sections-v3 .countries-list li {
  padding-top: 8px;
}

.template-countries-sections-v3 .content-wrapper {
  margin-top: 10px;
}

.tabs-content {
  display: none;
  padding: 0 17px;
}

.tabs-content.active {
  display: block;
  padding: 0 17px;
}

.intro-wrapper {
  position: absolute;
  top: 210px;
  color: white;
  width: 290px;
  text-shadow: 0px 0px 3px #000;
  display: none;
}

.intro-wrapper h1 {
  color: #41b664;
  font-weight: bold !important;
}

.intro-wrapper p {
  font-weight: bold;
}

.map-helper {
  height: 160px;
  width: 220px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 210px;
  right: 30%;
  display: none;
}

.map-helper-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 15px;
}

.map-helper-wrapper span {
  display: inline-block;
  font-weight: bold;
  line-height: 25px;
}

.map-helper-wrapper button {
  margin-top: 25px;
  float: right;
}

 .map-helper-wrapper::after {
  position: absolute;
  top: 50%;
  content: ' ';
  right: 100%;
  margin-top: -15px;
  border-right-color: inherit;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.7);
  border-bottom: 15px solid transparent;
 }

/* collapsible content for green infrastracture on country pages */

.content-green-infrastructure #parent-fieldname-text h2,
.content-green-infrastructure #parent-fieldname-text h3 {
  display: inline-block;
  margin-bottom: 0;
}

.content-green-infrastructure .gi-title-wrapper,
.content-green-infrastructure .gi-sub-title-wrapper {
  cursor: pointer;
  /* border-bottom: 1px solid #ddd; */
  padding: 6px;
}

.content-green-infrastructure .gi-title-wrapper h2,
.content-green-infrastructure .gi-sub-title-wrapper h3 {
  display: inline-block;
  padding: 8px 0;
  margin-bottom: 0;
  width: 90%;
}

.content-green-infrastructure .gi-title-wrapper i,
.content-green-infrastructure .gi-sub-title-wrapper i {
  float: right;
  padding: 13px 0px;
}

.content-green-infrastructure .gi-content-wrapper,
.content-green-infrastructure .gi-sub-content-wrapper {
  display: none;
}
.content-green-infrastructure .portaltype-document {
  margin-top: 30px;
}

.fact h3 {
  margin-left: 0 !important;
}

.gi-content-wrapper h3 {
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .template-countries-sections-v3 #countryfactsheets-map {
    border: none;
    top: 50px;
  }
  .content-green-infrastructure .gi-title-wrapper h2,
  .content-green-infrastructure .gi-sub-title-wrapper h3,
  .portaltype-biodiversityfactsheet h3.collapsible,
  .fact h3 {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 800px) {
  .map-title {
    left: 20px;
  }
  .custom-dropdown {
    right: 0;
  }
  .intro-wrapper {
    display: none !important;
  }
}
