* {
  box-sizing: border-box;
}

svg {
  width: 100%;
}

svg-container {
  width: 100%;
  position: relative;
  display: block;
  top: 1em;
}

#countryfactsheets-map {
  width: 100%;
  position: initial;
  display: block;
  top: inherit;
  overflow: hidden;
  border: 2px solid lightgray;
}


.country-stroke {
  fill: #efe7d4;
  stroke: black;
  stroke-width: 1;
}

.country-focus {
  fill: #41b664;
}

.country-focus-text-bg {
  fill: #666;
  stroke: black;
  stroke-width: 2;
}
.country-focus-label {
  fill: white;
  stroke: none;
  text-anchor: middle;
  font: 600 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.maplet-outline {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.sphere {
  stroke: none;
  fill: rgb(48, 140, 168);
}

.country-flag {
  cursor: pointer;
}

.main-lines {
  fill: none;
  /* stroke: #79A09E; */
  stroke: #333366;
  stroke-width: 0.6;
  stroke-dasharray: 8,2;
}

.sub-lines {
  fill: none;
  /* stroke: #79A09E; */
  stroke: #666;
  stroke-width: 0.16;
  stroke-dasharray: 16,2;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width: 2;
}
