* {
  box-sizing: border-box;
}

svg {
  position: relative;
  width: 100%;
}

svg-container {
  display: block;
  position: relative;
  top: 1em;
  width: 100%;
}

#countryfactsheets-map {
  border: 2px solid #b0b0b0;
  display: block;
  overflow: hidden;
  position: relative;
  top: inherit;
  width: 100%;
}

.maplet-container .sphere {
   fill: #b0b0b0;
}

.maplet-container .non-focused-country {
  /* fill: #5c5c5c; */
  fill: #b0b0b0;
}

.country-stroke {
  fill: #e6dac0;
  stroke: black;
  stroke-width: 1;
}

.country-focus {
  fill: #41b664;
}

.minimap-container .sphere {
   fill: lightgray;
}

.minimap-country-stroke {
  fill: lightgray;
  stroke: black;
  stroke-width: 0.7;
}

.minimap-country-focus {
  cursor: pointer;
  fill: #003399;
}

.minimap-country {
  cursor: pointer;
  fill: #FFCC00;
}

.country-focus-text-bg {
  /* fill: #393939; */
  fill: transparent;
  stroke: #393939;
  stroke-width: 0.2;
}

.country-focus-label {
  fill: white;
  font: 600 8.4px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 3px black;
  stroke: none;
  text-anchor: middle;
}

.eu-focus-label {
  fill: #003399;
  font: 600 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  stroke: none;
  text-anchor: middle;
}

.maplet-outline {
  fill: none;
  stroke: #393939;
  stroke-width: 0.6;
}

.sphere {
  fill: rgb(48, 140, 168);
  stroke: none;
}

.country-flag {
  cursor: pointer;
}

.main-lines {
  fill: none;
  /* stroke: #79A09E; */
  stroke: #333366;
  stroke-dasharray: 8,2;
  stroke-width: 0.6;
}

.sub-lines {
  fill: none;
  /* stroke: #79A09E; */
  stroke: #666;
  stroke-dasharray: 16,2;
  stroke-width: 0.16;
}

.graticules {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.tooltip {
  position: absolute;
  z-index: 10;
  color: white;
  background-color: #2a2a2a;
  padding: 3px;
  border-radius: 3px;
  visibility: hidden;
}

.eu-map-filter {
  background-color: #fff;
  border: 2px solid #b0b0b0;
  height: auto;
  padding: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  width: 170px;
  display: none;
}

.eu-map-filter input {
  margin-right: 7px;
}

.eu-map-filter label {
  font-size: 1rem;
  cursor: pointer;
}

.eu-map-filter .checkb-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.non-eu-country-focus {
  fill: #f4ce62;
}

/***** MAES map related *****/

#countries-filter {
  background-color: white;
  border: 2px solid #b0b0b0;
  color: #666;
  font-size: 1rem;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
}

#countries-filter span {
  font-weight: bold;
}

#countries-filter ul {
  margin-bottom: 0;
  padding-left: 2px;
}

#countries-filter ul li {
  list-style-type: none;
  padding: 4px 0
}

#countries-filter .color-box {
  border: 1px solid black;
  display: inline-block;
  height: 13px;
  margin-right: 10px;
  width: 18px;
}

.desktop-only {
  display: inline-block;
}
.break-p {
  display: block;
}

.map-loader {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  border: 10px solid #d3d3d3;
  border-radius: 50%;
  border-top: 10px solid #41b664;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* map helper */

.map-helper {
  height: 160px;
  width: 220px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 210px;
  right: 30%;
}

.map-helper-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 15px;
}

.map-helper-wrapper span {
  display: inline-block;
  font-weight: bold;
  line-height: 25px;
}

.map-helper-wrapper a {
  margin-top: 25px;
  float: right;
  color: #444;
}

 .map-helper-wrapper::after {
  position: absolute;
  top: 50%;
  content: ' ';
  right: 100%;
  margin-top: -15px;
  border-right-color: inherit;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.7);
  border-bottom: 15px solid transparent;
 }

@media (max-width: 800px) {
  .eu-map-filter {
    right: 15px !important;
    top: 132px !important;
  }
  #countries-filter {
    top: 97px !important;
  }
  .eu-map-filter {
    text-align: center;
    width: 100%;
    top: 0px !important;
    background-color: rgba(255, 255, 255, 0.95);
    left: 0;
    border: none;
  }
  .template-countries-sections-v3 .eu-map-filter {
    top: 96px !important;
  }
  .checkb-wrapper {
    display: inline;
     padding: 0 2%;
   }
  .desktop-only {
    display: none;
  }
}

@media (max-width: 767px) {
  #countries-filter {
    font-size: 12px;
    padding: 7px;
    width: 100%;
    right: 0;
    left: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    /* width: 154px; */
    /* right: auto;
      left: 10px; */
  }
  #countries-filter ul li {
    padding: 3px 5px;
    display: inline;
  }
  #countries-filter ul {
    margin-top: 0;
  }
  .break-p {
    display: inline;
  }
  .filter-listing {
    padding-top: 5px;
  }
}
