.fact-section {
  border-bottom: 1px solid lightgray;
  clear: both;
}

.fact-section h5 {
  float: left;
  clear:left;
  font-weight: normal;
}

.fact-section a {
  float: right;
}

.fact-section h5,
.fact-section a {
  margin-top: 12px;
}

.factsheets-section h4 {
  font-weight: bold;
  clear: both;
  padding-top: 25px;
}

.country-select-form {
  float: right;
}
